.post-review-modal-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-review-modal-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; */
}

.post-review-textarea-field {
  width: 400px;

  justify-self: center;
}

.rating-input {
  display: inline-flex;
  justify-self: center;
}

.empty-rating {
  color: #b2b2b3;
}

.filled-rating {
  color: #ec3355;
}
