.landing-page-div {
  display: flex;
  justify-content: center;
  max-width: 1000px;
}

.landing-page-ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 1000px;
  height: 100%;
}

.landing-page-li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr 1fr;
  grid-template-areas:
    "image   image   image   image"
    "image   image   image   image"
    "image   image   image   image"
    "image   image   image   image"
    "image   image   image   image"
    "location location rating  rating"
    "price      price       .        .  ";
}

.landing-page-spot-image {
  grid-area: image;
}

.landing-page-location {
  grid-area: location;
  justify-self: start;
}

.landing-page-rating {
  grid-area: rating;
  justify-self: end;
}

.landing-page-price {
  grid-area: price;
  justify-self: start;
}

.spot-image:hover {
  cursor: pointer;
}

.spot-image {
  border-radius: 10px;
  width: 25vw;
  object-fit: cover;
  object-position: center;
  padding: 2px;
  height: 200px;
}

/* SpotDetail */
.spot-detail-container {
  display: grid;
  justify-content: center;
  max-width: 1000px;
}

.spot-detail-title {
  margin: 0;
}

.spot-detail-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "previewImg previewImg addtlImg1 addtlImg2"
    "previewImg previewImg addtlImg3 addtlImg4";
  grid-gap: 5px;
}

.spot-detail-preview-image {
  border-radius: 10px;
  width: 100%;
  height: 373.125px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}

.spot-detail-additional-image {
  border-radius: 10px;
  width: 100%;
  height: 184.688px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}

.grid-item-0 {
  grid-area: previewImg;
}

.grid-item-1 {
  grid-area: addtlImg1;
}
.grid-item-2 {
  grid-area: addtlImg2;
}
.grid-item-3 {
  grid-area: addtlImg3;
}
.grid-item-4 {
  grid-area: addtlImg4;
}

.spot-detail-text {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust the column proportions as needed */
  grid-template-rows: auto; /* Remove unnecessary row definitions */
  grid-template-areas:
    "detail-host detail-info"
    "detail-description detail-info"
    "detail-description detail-info"
    "detail-description detail-info"
    "detail-description .";
}
.spot-detail-host {
  margin: 0;
  grid-area: detail-host;
}

.spot-detail-description {
  grid-area: detail-description;
}

.spot-detail-info-box-container {
  grid-area: detail-info;
  justify-self: end;
  border: 0.5px solid black;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}

.spot-detail-info-box-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "info-price     info-rating    info-rating"
    "info-button  info-button  info-button";
  width: 100%;
  list-style-type: none;
  grid-gap: 10px;
  margin: 0px;
  padding: 15px;
}

.info-box-price {
  grid-area: info-price;
  list-style-type: none;
}

.info-ratings-and-reviews {
  grid-area: info-rating;
  justify-self: end;
  list-style-type: none;
}

.info-reserve-button {
  grid-area: info-button;

  background-color: #ec3355;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  list-style-type: none;
}
.info-box-button {
  grid-area: info-button;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-box-button:hover {
  cursor: pointer;
}

/* Create Spot Form */
.create-spot-form-div {
  width: 80%;
}
.create-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 5px;
  height: 100%;
}

.create-spot-form-button {
  background-color: #ec3355;
  border-radius: 10px;
  border: none;
  color: white;
  width: 100%;
}

.create-spot-form-header {
  display: flex;
  align-items: center;
  width: 100%;
}

/* ----------------------------------------------------------- */
/* Manage Spots */
.manage-spots-div {
  display: grid;
  list-style-type: none;
  overflow: auto;
}

.manage-spots-ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.manage-spots-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "manage-location    .         .           manage-rating"
    "manage-price        .         .              . "
    "update      delete      .              . ";
  overflow: auto;
}

.manage-spots-location {
  grid-area: manage-location;
}

.manage-spots-price {
  grid-area: manage-price;
}

.manage-spots-rating {
  grid-area: manage-rating;
}

.update-button {
  grid-area: update;
  background-color: #ec3355;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.delete-button {
  grid-area: delete;
  background-color: #ec3355;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
