.landing-page-positioning-div {
  display: flex;
  justify-content: center;
}

.landing-page-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.landing-page-ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* max-width: 1000px; */
  height: 100%;
  padding: 25px 40px 25px 40px;
}

.landing-page-li {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image "
    "landing-page-detail";
  cursor: pointer;
}

.landing-page-details {
  grid-area: landing-page-detail;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "location location rating  rating"
    "price   price price price        ";
}

.landing-page-spot-image {
  grid-area: image;
  width: 100%;
}

.landing-page-location {
  grid-area: location;
  justify-self: start;
}

.landing-page-rating {
  grid-area: rating;
  justify-self: end;
}

.landing-page-price {
  grid-area: price;
  width: 100%;
  justify-self: start;
}

.spot-image:hover {
  cursor: pointer;
}

.spot-image {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  padding: 2px;
  height: 200px;
}
/* ---------------------------------------------------------------- */

.tooltip-container {
  position: absolute;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;

  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 0.3rem;
  z-index: 1;
}

.tooltip:hover {
  visibility: visible;
}

/* ------------------------------------------------------------ */
/* SpotDetail */
.spot-detail-positioning-div {
  display: flex;
  justify-content: center;
}

.post-review-button,
.delete-review-button {
  padding: 5px;
  margin: 5px;
}

.spot-detail-container {
  display: grid;
  justify-content: center;
  max-width: 1000px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.spot-detail-title {
  margin: 0;
}

.spot-detail-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "previewImg previewImg addtlImg1 addtlImg2"
    "previewImg previewImg addtlImg3 addtlImg4";
  grid-gap: 5px;
}

.spot-detail-preview-image {
  border-radius: 10px;
  width: 100%;
  height: 373.125px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}

.spot-detail-additional-image {
  border-radius: 10px;
  width: 100%;
  height: 184.688px;
  object-fit: cover;
  object-position: center;
  padding: 2px;
}

.grid-item-0 {
  grid-area: previewImg;
}

.grid-item-1 {
  grid-area: addtlImg1;
}
.grid-item-2 {
  grid-area: addtlImg2;
}
.grid-item-3 {
  grid-area: addtlImg3;
}
.grid-item-4 {
  grid-area: addtlImg4;
}

.spot-detail-text {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjust the column proportions as needed */
  grid-template-rows: auto; /* Remove unnecessary row definitions */
  grid-template-areas:
    "detail-host detail-info"
    "detail-description detail-info"
    "detail-description detail-info"
    "detail-description detail-info"
    "detail-description .";
}
.spot-detail-host {
  margin: 0;
  grid-area: detail-host;
}

.spot-detail-description {
  grid-area: detail-description;
}

.spot-detail-info-box-container {
  grid-area: detail-info;
  justify-self: end;
  border: 0.5px solid black;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.spot-detail-info-box-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "info-price     info-rating    info-rating"
    "info-button  info-button  info-button";
  width: 100%;
  list-style-type: none;
  grid-gap: 10px;
  margin: 0px;
  padding: 15px;
}

.info-box-price {
  grid-area: info-price;
  list-style-type: none;
}

.info-ratings-and-reviews {
  grid-area: info-rating;
  justify-self: end;
  list-style-type: none;
}

.info-reserve-button {
  grid-area: info-button;

  background: rgb(251, 63, 63);
  background: radial-gradient(
    circle,
    rgba(251, 63, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  list-style-type: none;
}
.info-box-button {
  grid-area: info-button;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-box-button:hover {
  cursor: pointer;
}

.reviews-div {
  border-top: 0.5px solid #333;
  padding-top: 15px;
}

.reviews-ul {
  list-style-type: none;
}

/* --------------------------------------------------- */
/* Create Spot Form */
.create-spot-form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-spot-form-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  padding-bottom: 5px;
  height: 100%;
  width: 550px;
}

.create-top-h3 {
  border-top: none;
}

.create-spot-form input {
  width: 100%;
  margin-bottom: 5px;
}

.create-spot-form textarea {
  width: 100%;
  height: 50px;
}

.create-spot-form h3 {
  border-top: 1px solid #333;
  width: 100%;
  text-align: start;
  padding-top: 20px;
  margin-bottom: 0;
}

.city-and-state {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: space-between;
}

.create-spot-form-button {
  width: 100%;
  background-color: #ec3355;
  color: white;
  border: 0.5px solid #333;
  padding: 5px;
  border-radius: 0.3rem;
  height: fit-content;
}

.create-a-spot-button {
  width: 230px;
  background-color: #ec3355;
  color: white;
  border: 0.5px solid #333;
  padding: 5px;
  border-radius: 0.3rem;
  height: fit-content;
}

/* ----------------------------------------------------------- */
/* Manage Spots */
.manage-spots-positioning-div {
  display: flex;
  justify-content: center;
}

.manage-spots-div {
  display: grid;
  list-style-type: none;
  overflow: auto;
  padding: 0 40px 0 40px;
  margin: 0;
}

.manage-spots-div h1 {
  margin-bottom: 5px;
}

.manage-spots-ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
}

.manage-spots-li {
  padding: 5px;
  cursor: pointer;
}

.manage-spots-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "manage-location    manage-location       manage-location      manage-rating"
    "manage-price        manage-price        manage-price     manage-price "
    "manage-buttons manage-buttons     .              . ";
  overflow: auto;
}

.manage-spots-location {
  grid-area: manage-location;
  justify-self: start;
  margin-bottom: 5px;
  margin-top: 0;
}

.manage-spots-price {
  grid-area: manage-price;
  justify-self: start;
  margin-bottom: 5px;
  margin-top: 0;
}

.manage-spots-rating {
  grid-area: manage-rating;
  justify-self: end;
  margin-bottom: 5px;
  margin-top: 0;
}

.management-buttons {
  grid-area: manage-buttons;
  display: inline-flex;
  justify-content: baseline;
  gap: 5px;
}

.update-button {
  grid-area: update;
  background-color: #ec3355;
  color: white;
  border: 0.5px solid #333;
  padding: 5px;
  border-radius: 0.3rem;
  justify-self: start;
  height: fit-content;
}

.delete-button {
  grid-area: delete;
  background-color: #ec3355;
  color: white;
  border: 0.5px solid #333;
  padding: 5px;
  border-radius: 0.3rem;
  justify-self: end;
  height: fit-content;
}
