/* TODO Add site wide styles */
body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
}

.confirm-button {
  background: rgb(251, 63, 63);
  background: radial-gradient(
    circle,
    rgba(251, 63, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  border: 1px solid black;
}

.open-modal-button {
  background: rgb(251, 63, 63);
  background: radial-gradient(
    circle,
    rgba(251, 63, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  border: 1px solid black;
}

#modal-content {
  border-radius: 10px;
}
