.hidden {
  display: none;
}

.nav-link-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  justify-content: baseline;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
  border-bottom: 0.5px solid #333;
}

.nav-button {
  background-color: white;
  color: black;
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 15px;
  text-decoration: none;
  margin: 5px;
}

.nav-link-ul {
  display: flex;
  flex-direction: row;
  margin: 15px;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.nav-button:hover {
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.profile-button {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  display: flex;
  flex-direction: row;
}

.nav-right-side {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.nav-left-side {
  justify-self: start;
}

.new-spot-navlink-container {
  border-radius: 15px;
  padding-top: 3px;
  padding-bottom: 2px;
}
.create-new-spot-link:hover {
  background-color: rgb(240, 239, 239);
  padding: 5px;
  border-radius: 10px;
}
.create-new-spot-link {
  text-decoration: none;
  color: black;
}
